Make Sure the Image Path is Correct

--| php artisan storage:link


Clear Cache

--| php artisan cache:clear
--| php artisan config:clear
--| php artisan route:clear
--| php artisan view:clear


Potential Issues & Fixes

this::
$manager = new ImageManager(Driver::class);
to::
$manager = new ImageManager(new Driver());

this::
$image->cover(1000, 1000);
to::
$image->scale(width: 1000, height: 1000);




Intervention Image Not Installed

--| composer require intervention/image